.footer__container{
    width: 100vw;
    background-color: rgba(243, 53, 6, 0.89);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: space-between;
    column-gap: 7rem;
    
}


.titulo__footer{
    font-size: 3rem;
    color: wheat;
}


.data__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.social__{
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}

.links__container{
    display: flex;
    column-gap: 3rem;
    justify-content: center;
}

.footer__logo{
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-top: 3rem;
}

.logof{
    width: 15rem;
    height: auto;
}


.linknormal{
    font-size: 1.2rem;
    text-decoration: none;
    color: wheat;
}