.bg-p{
    background-color: $primaricolor;
}

.bg-s{
    background-color: $secundaricolor;
}

.bg-t{
    background-color: $terciaricolor;
}

.bg-f{
    background-color: $fivecolor;
}
.bg-b{
    background-color: $black;
}

.bg-v{
    background-color: $ver;
}
.bg-g{
    background-color: $gradient;
}
.color-p{
   color: $primaricolor;
}

.color-s{
    color: $secundaricolor;
}

.color-t{
   color: $terciaricolor;
}
.color-f{
    color: $fourcolor;
 }

 .color-five{
    color: $fivecolor;
 }
.color-g{
    color: $gris;
}

.text-j{
    text-align: justify;
}