.h-250{
    height: 250px;
}

.input-moderno {
    width: 35%;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    background-color: #f8f8f8;
    color: #333;
    outline: none;
  }

  .imagenTitle{
    height: 80%;
    width: 70%;
  }