
$primaricolor: #8a0f04d5;
$secundaricolor:#BF4124;
$terciaricolor: #F2D0BD;
$fourcolor: #444448;
$fivecolor : #910808;
$correctcolor: #54bc0a;
$incorrectcolor: #d70415;
$buttoncolor: #038C73;
$white: #f4f4f4;
$black: #000009;
$gris: #767676;
$ver: #009463;
$gradient: linear-gradient(135deg, #d89a4b, #a75b12);

